@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Payment example</h1>
    <p class="lead">A sample app to see how to use a few features of ASP.NET for the team.</p>
</div>

<h2>Background</h2>
<p>Using a standard ASP.NET MVC project template (including ASP.NET Identity just so you can see other features if interested), we use similar techniques (for now) to render a payment page.</p>
<p>Have a look at @Html.ActionLink("Take Payment Example page", "TakePayment", "Payment")</p>
<p>Look at the code to see how data annotations are used.</p>
<p>Look at the code for how dependency injection is configured without needing a service locator pattern</p>